.navbar {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

/* Social Links */
.social {
    height: 4.5rem;
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.social-container {
    background-color: #5bb7ed;
}

.social-link:link,
.social-link:visited {
    color: #cee9fa;
}

.social-link:active,
.social-link:hover {
    color: #def1fb;
}

.social-link ion-icon {
    height: 1.8rem;
    width: 1.8rem;
}

/* Middle Nav(Logo&Contact) */
.logo-and-details-container {
    border-bottom: 1px solid #868e96;
}

.logo-and-details {
    height: 12rem;
    display: flex;
    align-items: center;
}

.logo {
    height: 8rem;
    display: block;
}

.icon-and-details-container {
    margin-left: auto;
    display: flex;
    gap: 6.4rem;
}

.icon-and-details {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.icon-and-details ion-icon {
    height: 3rem;
    width: 3rem;
    color: #5bb7ed;
}

.details {
    font-size: 1.6rem;
    color: #868e96;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.detail-title {
    font-weight: 700;
    display: block;
    color: #495057;
}

.phone-number:link,
.phone-number:visited {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}

.phone-number:hover,
.phone-number:active {
    color: #5bb7ed;
}

/* Nav Links */

.nav-links {
    height: 6rem;
    display: flex;
    gap: 2.4rem;
    align-items: center;
}

.nav-link:link,
.nav-link:visited {
    text-decoration: none;
    font-size: 2rem;
    color: #868e96;
    transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
    color: #5bb7ed;
}

/* MOBILE NAV */
.mobile-nav-btn {
    border: none;
    background: none;
    display: none;
    cursor: pointer;
}

.mobile-nav-btn ion-icon {
    width: 3.2rem;
    height: 3.2rem;
}

.mobile-nav-btn ion-icon[name="close-outline"] {
    display: none;
}

/* MEDIA QUERIES */
/* 640px */
@media(max-width:40em) {

    .nav-links-container {
        display: flex;
        align-items: center;
    }

    .mobile-nav-btn {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.9);
        transform: translateX(100%);
        max-width: 80rem;

        opacity: 1;

        flex-direction: column;
        justify-content: center;
        gap: 4.8rem;
        transition: all 0.5s ease-in;

        /* HIDE NAV */
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .open .nav-links {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .open .mobile-nav-btn ion-icon[name="menu-outline"] {
        display: none;
    }

    .open .mobile-nav-btn ion-icon[name="close-outline"] {
        display: block;
    }

    .nav-link:link {
        font-size: 3rem;
    }
}

/* 544px */
@media(max-width:34em) {
    .logo-and-details {
        justify-content: center;
    }

    .icon-and-details-container {
        display: none;
    }
}